.wrap{
    width: 500px;
    height: 300px;
    margin:0 auto;
    /* margin-left: 300px; */
}

li{
    line-height: 60px;
    font-size: 25px;
}

li>i{
    padding-left: 20px;
    padding-right: 20px;
}

li>i:hover{
    cursor: pointer;
}
